﻿@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using Dynamicweb;
@using System.Web;

@{
    int suggestionImageNumberMax = 1100;
    int daysSuggestionActive = 180;
}

<link rel="stylesheet" type="text/css" href="/Files/Templates/Designs/Skanderborg/css/css-cleanup/borgerforslag.min.css">

@foreach (var item in GetLoop("ItemPublisher:Items.List"))
{
    //used instead of Created date, because its not in the data. For now its ok
    DateTime activeFrom = Convert.ToDateTime(item.GetString("ItemPublisher:Item.ActiveFrom"));

    //only show old suggestions
    var days = (DateTime.Now - activeFrom).TotalDays;
    /*if(days <= daysSuggestionActive)
    {
        continue;
    }*/

    //set vars for later use
    int pageIdItem = item.GetInteger("ItemPublisher:Item.Field.PageId");
    string link = item.GetString("ItemPublisher:Item.Url");
    string suggestionTitle = item.GetString("ItemPublisher:Item.Overskrift");
    string[] suggestionNameArr = item.GetString("ItemPublisher:Item.Navn").Split(' ');

    //count number of votes directly via DB
    int suggestionVotes = Convert.ToInt32(Dynamicweb.Database.ExecuteScalar("SELECT COUNT(PageID) FROM Page WHERE PageItemType='BorgerforslagStemmer' AND PageParentPageId=" + pageIdItem));

    //calculate image used in view
    double suggestionImageNumber = suggestionVotes / suggestionImageNumberMax;
    int percentCompleteImage = (int)Math.Floor((double)(100 * suggestionVotes) / suggestionImageNumberMax / 10);
    if (percentCompleteImage == 0)
    {
        percentCompleteImage = 1;
    }
    else if (percentCompleteImage > 10)
    {
        percentCompleteImage = 10;
    }
    string suggestionImage = GetString("Template:DesignBaseUrl") + "images/vjm/suggestions/stem/stem" + percentCompleteImage + ".png";

    <div class="suggestions__item">
        <div class="row">
            <div class="col-md-10">
                <h3>@suggestionTitle</h3>
                <div class="suggestions__item__date">
                    @Translate("Indsent af") @suggestionNameArr[0] @String.Format("{0:d. MMMM yyyy}", activeFrom) -
                    <strong>
                        @suggestionVotes
                        @if (suggestionVotes == 1)
                        {
                            @Translate("stemme")
                        }
                        else
                        {
                            @Translate("stemmer")
                        }

                    </strong>
                </div>
            </div>
            <div class="col-md-2">
                <img src="@suggestionImage" width="45" />
            </div>
        </div>
    </div>
}