﻿@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using Dynamicweb;
@using System.Web;
@using System.Net;
@using System.IO;
@using System.Text;
@using System.Xml;
@using System.Xml.Linq;
@using System.Xml.XPath;

@functions{

    // Check if correct code is returned
    public bool ValidResponseStatus(StreamReader reader, String validCode = "0")
    {
        bool response = false;
        //string response = string.Empty;

        XmlTextReader statusReader = new XmlTextReader(reader);

        // Skip non-significant whitespace
        statusReader.WhitespaceHandling = WhitespaceHandling.Significant;

        // Read nodes one at a time
        while (statusReader.Read())
        {
            // Find Kvit-node
            if (statusReader.Name == "Kvit")
            {
                if (statusReader.GetAttribute("v") == validCode)
                {
                    response = true;
                    break;
                }
            }
        }
        return response;
    }
}

<link rel="stylesheet" type="text/css" href="/Files/Templates/Designs/Skanderborg/css/css-cleanup/borgerforslag.min.css">

@{
    var context = HttpContext.Current;
    var certificateFile = "Skanderborg kommune - Borgerforslag.p12";

    var result = context.Request["result"] ?? string.Empty;
    var signature = context.Request["signature"] ?? string.Empty;
    string bpID = (string)context.Session["bpID"] ?? string.Empty;
    var newJson = string.Empty;
    var userPid = string.Empty;
    var logonName = context.Request["suggestion_name"] ?? string.Empty;
    var userAddress = context.Request["suggestion_address"] ?? string.Empty;
    var userEmail = context.Request["suggestion_email"] ?? string.Empty;
    var validToPost = (context.Session["validToPost"] != null) ? true : false;

    var certificatePath = context.Server.MapPath("/Public/" + certificateFile);
    var certificatePassword = "Kb97495544";
    var spid = "462862969";

    var cpr = string.Empty;
    uint age = 0;

    string cprEndPoint = "https://gctp.cpr.dk/cpr-online-gctp/gctp";
    string cprUserID = "WUP82164";
    string cprPassWd = "F!p6$eU8";
    string cprAuthCookie = string.Empty;
    string cprAuthDomain = string.Empty;
    string cprAuthPath = string.Empty;
    string cprCorrectMunicipalityCode = "0746"; // Skanderborg
    //string cprCorrectMunicipalityCode = "0760"; // Ringkøbing-Skjern til test
    string cprResponseMunicipalityCode = string.Empty;
    string cprResponseAddress = string.Empty;
    string cprResponseZipcodeCity = string.Empty;
    string cprResponseName = string.Empty;

    string cprXmlString = @"<?xml version=""1.0"" encoding=""ISO-8859-1"" standalone=""yes""?>";
    cprXmlString += "<root xmlns=\"http://www.cpr.dk\">";
    cprXmlString += "<Gctp v=\"1.0\">";
    cprXmlString += "<Sik function=\"signon\" userid=\"" + cprUserID + "\" password=\"" + cprPassWd + "\" />";
    cprXmlString += "</Gctp>";
    cprXmlString += "</root>";  

    HttpWebRequest cprReq = (HttpWebRequest)WebRequest.Create(cprEndPoint);
    //cprReq.Host = "gctp-demo.cpr.dk";
    cprReq.Host = "gctp.cpr.dk";
    cprReq.ContentType = "text/xml;charset=\"utf-8\"";
    cprReq.Accept = "text/xml";
    cprReq.UserAgent = "CPR/1.0 ";
    cprReq.Method = "POST";

    if (result == string.Empty)
    {
        NemIdParam niParam = new NemIdParam(
            "false",
            "http://" + GetGlobalValue("Global:Request.Host"),
            NemIdHelper.Base64Encode(DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss+0000")),
            "da",
            "OcesLogin2",
            certificatePath,
            certificatePassword
        );
        newJson = niParam.getJson();
    }

    else if (result == "ok")
    {
        var certificateAndStatus = new NemIdLogon(signature).ExtractCertificateAndStatus();
        var status = certificateAndStatus.CertificateStatus;
        var certificate = certificateAndStatus.Certificate;

        if (certificate is org.openoces.ooapi.certificate.PocesCertificate)
        {
            if (status == org.openoces.ooapi.certificate.CertificateStatus.Valid)
            {
                var poces = ((org.openoces.ooapi.certificate.PocesCertificate)certificateAndStatus.Certificate);
                userPid = poces.Pid;

                var wsUrl = "https://pidws.certifikat.dk/pid_serviceprovider_server/pidws/";
                System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls
                                                               | System.Net.SecurityProtocolType.Tls11
                                                               | System.Net.SecurityProtocolType.Tls12
                                                               | System.Net.SecurityProtocolType.Ssl3;
                var service = new org.openoces.ooapi.pidservice.impl.pidwsdocPortClient("pidwsdocPort", new System.ServiceModel.EndpointAddress(wsUrl));
                service.ClientCredentials.ClientCertificate.Certificate = new System.Security.Cryptography.X509Certificates.X509Certificate2(certificatePath, certificatePassword);

                var requestsList = new[] { new org.openoces.ooapi.pidservice.impl.PIDRequest { PID = userPid, CPR = null, serviceId = spid } };
                var replyList = service.pid(requestsList);
                var statusCode = int.Parse(replyList[0].statusCode);

                if (statusCode == 0 || statusCode == 1)
                {
                    context.Session.Add("bpID", userPid);

                    bpID = (string)context.Session["bpID"];

                    cpr = replyList[0].CPR;
                    age = NemIdHelper.AgeFromCpr(cpr);
                }
                if (statusCode == 8)
                {
                    throw new Exception("Caller is not authorized for CPR lookup");
                }
                if (statusCode == 17)
                {
                    throw new Exception("Caller is not authorized");
                }
                validToPost = age >= 18;

                if(validToPost) {
                    // Set cookie
                    if (cprReq.CookieContainer == null)
                    {
                        cprReq.CookieContainer = new CookieContainer();
                    }

                    cprReq.CookieContainer.Add(new System.Net.Cookie("TOKEN", cprUserID + " ", "/", System.Web.HttpContext.Current.Request.Url.Host));

                    //OUTPUT TO STREAM
                    using (Stream stm = cprReq.GetRequestStream())
                    {
                        using (StreamWriter stmw = new StreamWriter(stm))
                        {
                            stmw.Write(cprXmlString);
                        }
                    }

                    //GET RESPONSE + READ CONTENT
                    HttpWebResponse response = (HttpWebResponse) cprReq.GetResponse();
                    Stream responseStream = response.GetResponseStream();
                    StreamReader reader = new StreamReader(responseStream, Encoding.Default);

                    // Is login valid, then submit request
                    if(ValidResponseStatus(reader, "900"))
                    {
                        string adrXmlString = @"<?xml version=""1.0"" encoding=""ISO-8859-1"" standalone=""yes""?>";
                        adrXmlString += "<root xmlns=\"http://www.cpr.dk\">";
                        adrXmlString += "<Gctp v=\"1.0\">";
                        adrXmlString += "<System r=\"CprSoeg\">";
                        adrXmlString += "<Service r=\"ADRESSE3\">";
                        adrXmlString += "<CprServiceHeader r=\"ADRESSE3\">";
                        adrXmlString += "<Key>";
                        adrXmlString += "<Field r=\"PNR\" v=\"" + cpr + "\" />";
                        adrXmlString += "</Key>";
                        adrXmlString += "</CprServiceHeader>";
                        adrXmlString += "</Service>";
                        adrXmlString += "</System>";
                        adrXmlString += "</Gctp>";
                        adrXmlString += "</root>";

                        HttpWebRequest creq = (HttpWebRequest)WebRequest.Create(cprEndPoint);
                        creq.Host = "gctp.cpr.dk";
                        creq.ContentType = "text/xml;charset=\"utf-8\"";
                        creq.Accept = "text/xml";
                        creq.UserAgent = "CPR/1.0 ";
                        creq.Method = "POST";

                        // Set new cookie based on received cookie
                        if (creq.CookieContainer == null)
                        {
                            creq.CookieContainer = new CookieContainer();
                        }

                        foreach (Cookie cook in response.Cookies)
                        {
                            if (cook.Name == "Token")
                            {
                                cprAuthCookie = cook.Value;
                                cprAuthDomain = cook.Domain;
                                cprAuthPath = cook.Path;

                                creq.CookieContainer.Add(new System.Net.Cookie("TOKEN", cprAuthCookie + " ", cprAuthPath, cprAuthDomain));

                                break;
                            }
                        }

                        //OUTPUT TO STREAM
                        using (Stream stm = creq.GetRequestStream())
                        {
                            using (StreamWriter stmw = new StreamWriter(stm))
                            {
                                stmw.Write(adrXmlString);
                            }
                        }

                        //GET RESPONSE + READ CONTENT
                        WebResponse cresponse = creq.GetResponse();
                        Stream cresponseStream = cresponse.GetResponseStream();
                        StreamReader creader = new StreamReader(cresponseStream, Encoding.Default);

                        // Retrieve XML document
                        XmlTextReader adrReader = new XmlTextReader(creader);

                        // Skip non-significant whitespace
                        adrReader.WhitespaceHandling = WhitespaceHandling.Significant;

                        // Read nodes one at a time
                        while (adrReader.Read())
                        {
                            // Print out info on node
                            if (adrReader.Name == "Field")
                            {
                                //<text>@adrReader.GetAttribute("v")</text><br>
                                if(adrReader.GetAttribute("r") == "VEJKOD")
                                {
                                    cprResponseAddress = adrReader.GetAttribute("tm");
                                }
                                if(adrReader.GetAttribute("r") == "HUSNR")
                                {
                                    cprResponseAddress += " " + adrReader.GetAttribute("v");
                                }
                                if(adrReader.GetAttribute("r") == "ETAGE")
                                {
                                    if(!string.IsNullOrEmpty(adrReader.GetAttribute("v"))) {
                                        cprResponseAddress += " " + adrReader.GetAttribute("v");
                                    }
                                }
                                if(adrReader.GetAttribute("r") == "POSTNR")
                                {
                                    cprResponseZipcodeCity = adrReader.GetAttribute("v") + " " + adrReader.GetAttribute("t");
                                }
                                if(adrReader.GetAttribute("r") == "KOMKOD")
                                {
                                    cprResponseMunicipalityCode = adrReader.GetAttribute("v");
                                }

                            }
                        }

                        string nameXmlString = @"<?xml version=""1.0"" encoding=""ISO-8859-1"" standalone=""yes""?>";
                        nameXmlString += "<root xmlns=\"http://www.cpr.dk\">";
                        nameXmlString += "<Gctp v=\"1.0\">";
                        nameXmlString += "<System r=\"CprSoeg\">";
                        nameXmlString += "<Service r=\"NAVNE3\">";
                        nameXmlString += "<CprServiceHeader r=\"NAVNE3\">";
                        nameXmlString += "<Key>";
                        nameXmlString += "<Field r=\"PNR\" v=\"" + cpr + "\" />";
                        nameXmlString += "</Key>";
                        nameXmlString += "</CprServiceHeader>";
                        nameXmlString += "</Service>";
                        nameXmlString += "</System>";
                        nameXmlString += "</Gctp>";
                        nameXmlString += "</root>";

                        HttpWebRequest nreq = (HttpWebRequest)WebRequest.Create(cprEndPoint);
                        nreq.Host = "gctp.cpr.dk";
                        nreq.ContentType = "text/xml;charset=\"utf-8\"";
                        nreq.Accept = "text/xml";
                        nreq.UserAgent = "CPR/1.0 ";
                        nreq.Method = "POST";

                        // Set new cookie based on received cookie
                        if (nreq.CookieContainer == null)
                        {
                            nreq.CookieContainer = new CookieContainer();
                        }

                        foreach (Cookie cook in response.Cookies)
                        {
                            if (cook.Name == "Token")
                            {
                                cprAuthCookie = cook.Value;
                                cprAuthDomain = cook.Domain;
                                cprAuthPath = cook.Path;

                                nreq.CookieContainer.Add(new System.Net.Cookie("TOKEN", cprAuthCookie + " ", cprAuthPath, cprAuthDomain));

                                break;
                            }
                        }

                        //OUTPUT TO STREAM
                        using (Stream stm = nreq.GetRequestStream())
                        {
                            using (StreamWriter stmw = new StreamWriter(stm))
                            {
                                stmw.Write(nameXmlString);
                            }
                        }

                        //GET RESPONSE + READ CONTENT
                        WebResponse nresponse = nreq.GetResponse();
                        Stream nresponseStream = nresponse.GetResponseStream();
                        StreamReader nreader = new StreamReader(nresponseStream, Encoding.Default);

                        // Retrieve XML document
                        XmlTextReader nameReader = new XmlTextReader(nreader);

                        // Skip non-significant whitespace
                        nameReader.WhitespaceHandling = WhitespaceHandling.Significant;

                        // Read nodes one at a time
                        while (nameReader.Read())
                        {
                            // Print out info on node
                            if (nameReader.Name == "Field")
                            {
                                if(nameReader.GetAttribute("r") == "CNVN_FORNVN")
                                {
                                    cprResponseName = nameReader.GetAttribute("v");
                                }
                                if(nameReader.GetAttribute("r") == "CNVN_MELNVN")
                                {
                                    if(!string.IsNullOrEmpty(nameReader.GetAttribute("v"))) {
                                        cprResponseName += " " + nameReader.GetAttribute("v");
                                    }
                                }
                                if(nameReader.GetAttribute("r") == "CNVN_EFTERNVN")
                                {
                                    cprResponseName += " " + nameReader.GetAttribute("v");
                                }
                            }
                        }

                        if(cprCorrectMunicipalityCode != cprResponseMunicipalityCode)
                        {
                            validToPost = false;
                        } else {
                            validToPost = true;
                            context.Session.Add("validToPost", validToPost);
                        }
                    }
                }
            }
            else
            {
                //ERROR - NOT VALID
                throw new Exception("Not valid");
            }
        }
        else
        {
            //ERROR - NOT POCES
            throw new Exception("Not POCES");
        }
    }

    if (result == string.Empty || bpID == string.Empty)
    {
        <script type="text/nemid" id="nemid_parameters">
            @newJson
        </script>
    }

    if (HttpContext.Current.Request.Form["suggestion_added"] != null && Convert.ToBoolean(validToPost))
    {
        //save item
        Dynamicweb.Content.Items.Item item = new Dynamicweb.Content.Items.Item("Borgerforslag");
        item["Overskrift"] = HttpContext.Current.Request.Form["suggestion_title"].ToString();
        item["Forslag"] = HttpContext.Current.Request.Form["suggestion_description"].ToString();
        item["Navn"] = logonName;
        item["Adresse"] = userAddress;
        item["Email"] = userEmail;
        item.Save();

        //save page
        Dynamicweb.Content.Page page = new Dynamicweb.Content.Page(Pageview.Area.ID, Pageview.Page.ID);
        page.Active = false;
        page.Hidden = true;
        page.MenuText = HttpContext.Current.Request.Form["suggestion_title"].ToString();
        page.ItemId = item.Id;
        page.ItemType = item.SystemName;
        page.Save();

        using (var m = new System.Net.Mail.MailMessage())
        {
            m.Subject = "Nyt borgerforslag er skrevet. Afventer publicering!";
            m.From = new System.Net.Mail.MailAddress("noreply@skanderborg.dk", "Skanderborg Kommune");
            m.To.Add("stig.rohde.andersen@skanderborg.dk");
            m.Bcc.Add("kurt@vestjyskmarketing.dk");
            m.IsBodyHtml = true;
            m.Body = "<p>Der er skrevet et nyt borgerforslag med overskriften: <strong>" + HttpContext.Current.Request.Form["suggestion_title"].ToString() + "</strong><br><br>Husk, at det skal godkendes/publiceres, før det kan ses på hjemmesiden og man kan stemme på forslaget.";
            m.BodyEncoding = System.Text.Encoding.UTF8;
            m.SubjectEncoding = System.Text.Encoding.UTF8;
            m.HeadersEncoding = System.Text.Encoding.UTF8;

            EmailHandler.Send(m);
        }

        System.Web.HttpContext.Current.Response.Redirect("/Default.aspx?ID=" + Pageview.Page.ID + "&suggestion_added=1");
    }


    int suggestionImageNumberMax = 1100;
    int daysSuggestionActive = 180;
}

@foreach (var item in GetLoop("ItemPublisher:Items.List"))
{
    //used instead of Created date, because its not in the data. For now its ok
    DateTime activeFrom = Convert.ToDateTime(item.GetString("ItemPublisher:Item.ActiveFrom"));

    //do not show this if it has passed 180 days
    var days = (DateTime.Now - activeFrom).TotalDays;
    if (days > daysSuggestionActive)
    {
        continue;
    }

    //set vars for later use
    int pageIdItem = item.GetInteger("ItemPublisher:Item.Field.PageId");
    string link = item.GetString("ItemPublisher:Item.Url");
    string suggestionTitle = item.GetString("ItemPublisher:Item.Overskrift");
    string[] suggestionNameArr = item.GetString("ItemPublisher:Item.Navn").Split(' ');

    //count number of votes directly via DB
    int suggestionVotes = Convert.ToInt32(Dynamicweb.Database.ExecuteScalar("SELECT COUNT(PageID) FROM Page WHERE PageActive=1 AND PageItemType='BorgerforslagStemmer' AND PageParentPageId=" + pageIdItem));

    //calculate image used in view
    double suggestionImageNumber = suggestionVotes / suggestionImageNumberMax;
    int percentCompleteImage = (int)Math.Floor((double)(100 * suggestionVotes) / suggestionImageNumberMax / 10);
    if (percentCompleteImage == 0)
    {
        percentCompleteImage = 1;
    }
    else if (percentCompleteImage > 10)
    {
        percentCompleteImage = 10;
    }
    string suggestionImage = GetString("Template:DesignBaseUrl") + "images/vjm/suggestions/stem/stem" + percentCompleteImage + ".png";

    <div class="suggestions__item">
        <div class="row">
            <div class="col-md-10">
                <h3> <a href="@link" class="suggestions__item__votes" title="G&aring; til @suggestionTitle">@suggestionTitle</a></h3>
                <div class="suggestions__item__date">
                    @Translate("Indsent af") @suggestionNameArr[0] @String.Format("{0:d. MMMM yyyy}", activeFrom) -
                    <strong>
                        @suggestionVotes
                        @if (suggestionVotes == 1)
                        {
                            @Translate("stemme")
                        }
                        else
                        {
                            @Translate("stemmer")
                        }

                    </strong>
                </div>
            </div>
            <div class="col-md-2">
                <a href="@link" class="suggestions__item__votes" title="G&aring; til @suggestionTitle"><img src="@suggestionImage" width="45" /></a>
            </div>
        </div>
    </div>
}

@if (result == string.Empty && bpID == string.Empty)
{
    <script type="text/javascript">
        function onNemIDMessage(e) {
            var event = e || event;
            var win = document.getElementById("nemid_iframe").contentWindow, postMessage = {}, message;

            var nemid_server_url_prefix = "https://applet.danid.dk";

            message = JSON.parse(event.data);
            if (event.origin !== nemid_server_url_prefix) {
                window.alert("Received message from unexpected origin : " + event.origin);
                return;
            }
            if (message.command === "SendParameters") {
                var htmlParameters = document.getElementById("nemid_parameters").innerHTML;
                postMessage.command = "parameters";
                postMessage.content = htmlParameters;

                win.postMessage(JSON.stringify(postMessage), nemid_server_url_prefix);
            }
            if (message.command === "changeResponseAndSubmit") {
                //document.postBackForm.response.value = message.content;
                document.postBackForm.result.value = "ok";
                document.postBackForm.signature.value = message.content;
                document.postBackForm.submit();
            }
        }

        if (window.addEventListener) {
            window.addEventListener("message", onNemIDMessage);
        } else if (window.attachEvent) {
            window.attachEvent("onmessage", onNemIDMessage);
        }
    </script>

    <div class="suggestions__form">
        @{
            var ms = (DateTime.Now - DateTime.MinValue).TotalMilliseconds;
            var appletUrl = "https://applet.danid.dk/launcher/lmt/" + ms + "?time-startup=true";
        }
        <h3 class="nemidheadline">@Translate("Log ind med NEM ID for at oprette dit forslag")</h3>

        <div class="row">
            <div class="col-md-6">
                <iframe id="nemid_iframe" title="NemID" style="height:250px;" scrolling="no" allowfullscreen="true" frameborder="1" src="@appletUrl"></iframe>

                <form name="postBackForm" method="post">
                    <input type="hidden" name="result" value="" />
                    <input type="hidden" name="signature" value="" />
                    <input type="hidden" name="ReturnUrl" value="/variant1/restricted/Default.aspx">
                </form>
            </div>
            <div class="col-md-6">
                <p><strong>Hvorfor NEM ID</strong></p>
                <p>Vi anvender NEM ID for at fastlå folkeregisteradresse samt alder i forbindelse med oprettelse af borgerdrevne forslag. <br /><br /></p>
                <p><strong>Sikkerhed</strong></p>
                <p>Vi anbefaler, at altid logger ud og lukker alle browservinduer, når du er færdig med at bruge tjenester, hvor du har været logget på med NEM ID</p>
            </div>
        </div>
    </div>

}
else
{
    <div class="suggestions__form">

        @if (!String.IsNullOrEmpty(HttpContext.Current.Request["suggestion_added"]))
        {
            <p><br /><strong>@Translate("Tak for forslaget")</strong>.</p>
            <p>&nbsp;</p>
        }

        <h3>@Translate("Opret dit forslag")</h3>

        @if (Convert.ToBoolean(validToPost))
        {
            string fullAddress = System.Web.HttpContext.Current.Server.UrlDecode(cprResponseAddress + ", " + cprResponseZipcodeCity);

            <div>&nbsp;</div>
            <form class="form form-horizontal" id="add-suggestion-page" aria-label="Opret et forslag" action="/Default.aspx?ID=@Pageview.Page.ID" method="post">
                <input type="hidden" id="suggestion_added" name="suggestion_added" value="1" />
                <p class="suggestions__form__requiredblock"><span class="required">*</span> @Translate("Skal udfyldes")</p>

                <div class="form-group">
                    <label for="suggestion_name">@Translate("Navn") <span class="required">*</span></label>
                    <input type="text" class="form-control required" required readonly="readonly" name="suggestion_name" id="suggestion_name" placeholder="Indtast dit navn" value="@cprResponseName" />
                </div>
                <div class="form-group">
                    <label for="suggestion_address">@Translate("Adresse") <span class="required">*</span></label>
                    <input type="text" class="form-control required" readonly="readonly" name="suggestion_address" id="suggestion_address" required placeholder="Indtast din adresse" value="@fullAddress">
                </div>

                <div class="form-group">
                    <label for="suggestion_email">@Translate("Din e-mail") <span class="required">*</span></label>
                    <input type="email" class="form-control required" required name="suggestion_email" id="suggestion_email" placeholder="Indtast din e-mail adresse">
                </div>
                <div class="form-group">
                    <label for="suggestion_title">@Translate("Forslagets overskrift (Max. 35 tegn)") <span class="required">*</span></label>
                    <input type="text" class="form-control required" required name="suggestion_title" id="suggestion_title" maxlength="35" placeholder="Indtast en overskrift til dit forslag">
                </div>
                <div class="form-group">
                    <label for="suggestion_name">@Translate("Beskrivelse af dit forslag") <span class="required">*</span></label>
                    <textarea class="form-control required" rows="3" name="suggestion_description" required id="suggestion_description" placeholder="Beskriv dit forslag her"></textarea>
                </div>
                <div class="form-group" style="text-align: center;">
                    <button class="btn btn-default" type="submit">@Translate("Opret dit forslag") &nbsp; <span class="fa fa-plus"></span></button>
                </div>
            </form>
        }
        else
        {
            <p><br /><strong>@Translate("Du skal være over 18 eller derover og bo i Skanderborg kommune for at oprette borgerforslag!")</strong>.</p>
        }
    </div>
}